body {
  font-family: 'Figtree', sans-serif;
  color: rgb(34, 34, 34);
  width: 100%;
}

header {
  box-shadow: inset 0 -6px 2px -5px rgba(0 0 0/0.1);
}

main {
  margin-bottom: 32px;
}


.searchbar {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 10px;
  align-items: center;
}

.searchbtn {
  display: grid;
  grid-template-columns: minmax(0, 40px) 1fr;
  min-height: 56px;
  text-align: start;
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 1000px;
  border-width: 1px;
  box-shadow: 0 3px 10px rgba(0 0 0/0.1);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#searchdestination {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

}

#searchdetails {
  font-style: normal;
  font-weight: 300;
  display: flex;
  column-gap: 5px;
  line-height: 16px;
  font-size: 12px;
  color: rgb(113, 113, 113);
}

.filterbtn {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(176, 176, 176);
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.propertyTypeBar {
  display: grid;
  height: 74px;
  overflow-x: auto;
  touch-action: manipulation;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 16px;
  padding-inline-end: 24px;
  padding-inline-start: 24px;
}

.propertyContainer {
  display: flex;
  width: 64;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;

}

.propertyDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.propertyIcon {
  display: flex;
  width: 24px;
  height: 24px;
}

.propertyText {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap
}

.section2 {
  margin-top: 24px;

  padding-left: 24px;
  padding-right: 24px;
}

.cardImage {
  display: grid;
  grid-template-areas:
    "top top"
    "bottom bottom";
  /* Define two grid areas: header and footer */
  background-image: url("assets/image1.jpg");
  background-size: cover;
  /* Ensure image covers the entire container */
  width: 382px;
  height: 362.891px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.guestFave {
  grid-area: top;
  /* Place h1 in the header area */
  align-self: start;
  /* Align to the top */
  justify-self: start;
  /* Align to the left */
  background-color: white;
  margin-left: 12px;
  margin-top: 12px;
  border-radius: 1000px;
}

.guestFaveTxt {
  padding: 4px 10px 4px 10px;
  font-size: 14px;
}

.heart {
  grid-area: top;
  /* Place h2 in the header area as well */
  align-self: start;
  /* Align to the top */
  justify-self: end;
  /* Align to the right */
  color: white;
  padding-top: 12px;
  padding-right: 12px;
}

.carousel {
  grid-area: bottom;
  /* Place p in the footer area */
  align-self: end;
  /* Align to the bottom */
  justify-self: center;
  /* Center horizontally */
  color: white;
  /* Adjust text color for readability */
  font-size: 50px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 12px;
}

.heart svg {
  stroke: white;
  fill: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
  height: 24px;
  width: 24px;
}

.carouselDots {
  width: 6px;
  height: 6px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 50%;
  background-color: white;
}

.cardText {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto;
  align-items: start;
  font-size: 15px;
}

.cardText div {
  grid-column: 1;
}

.cardText .title {
  font-weight: 600;
  grid-column: 1;
  grid-row: 1;
}

.cardText .description {
  color: rgb(113, 113, 113);
  font-weight: 300;
}

.rating {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.rating svg {
  height: 12px;
  width: 12px;
}

.rating span {
  font-weight: 300;
}

.price {
  margin-top: 6px;
  font-weight: 300;
}

.price span:first-child {
  font-weight: 600;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section3Text {
  font-weight: 600;
  font-size: 18px;
  margin-top: 65px;
}

.section3 button {
  color: white;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 24px 14px 24px;
  margin-top: 15px;
  background-color: rgb(34, 34, 34);
  border-radius: 8px;
  border-style: none;
}